<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <!--配置目标对象-->
    <bean id="target" class="cn.itcast.aop.Target"/>
    <!--配置切面对象-->
    <bean id="myAspect" class="cn.itcast.aop.MyAspect"/>
    <!--配置织入：告诉spring框架哪些方法(切点)需要进行哪些增强(前置、后置.....)-->
    <aop:config>
        <!--声明切面-->
        <aop:aspect ref="myAspect">
            <!--切面：切点+通知-->
            <aop:before method="before" pointcut="execution(public void cn.itcast.aop.Target.save())"/>
        </aop:aspect>
    </aop:config>



</beans>